body {
  background: #000;
}

#app {
  position: relative;
}

h1, h2, p, a, button {
  font-family: "Coda", sans-serif;
}

img {
  display: block;
}

.font-metal {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-coda-regular {
  font-family: "Coda", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-coda-extrabold {
  font-family: "Coda", system-ui;
  font-weight: 800;
  font-style: normal;
}